/* Resets */
*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --red: hsl(0, 98%, 31%);
  --night: hsl(240, 96%, 18%);
  --day: #1fa5e7;
}

/* Fonts */
@font-face {
  font-family: roboto-flex;
  src: url(../fonts/RobotoFlex.ttf) format('truetype-variations');
}

/* Global */
html, body {
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

main {
  position: relative;
  min-height: 100dvh;
}

main div {
  height: 25em;
  width: 100%;
  background-color: red;
}

/* Formulier */
main form {
  position: absolute;
  display: flex;
  flex-direction: row;
  place-content: center;
  width: 40%;
  min-width: 10em;
  height: 5em;
  background-color: var(--red);
  margin-left: auto;
  margin-right: auto;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

main form label {
  margin-top: 1em;
  margin-bottom: 1em;
}

main form:has(label:first-of-type input:checked) ~ div {
  background-color: var(--day);
}

main form:has(label:nth-of-type(2) input:checked) ~ div {
  background-color: var(--night);
}

main form:has(label:nth-of-type(3) input:checked) ~ div {
  background-color: yellow;
}

main form:has(label:last-of-type input:checked) ~ div {
  background-color: purple;
}