/* Resets */
*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --red: hsl(0, 98%, 31%);
  --night: hsl(218, 100%, 25%);
  --night2: hsl(214, 100%, 8%);
  --day: hsl(200, 100%, 67%);
  --day2: hsl(200, 92%, 43%);
  --green: hsl(118, 85%, 25%);
  --night-grass: hsl(118, 92%, 19%);
  --orange: hsl(41, 100%, 74%);
  --star: hsl(61, 83%, 48%);
  --wood: hsl(29, 100%, 20%);
  --dark-wood: hsl(31, 100%, 13%);
}

/* Fonts */
@font-face {
  font-family: roboto-flex;
  src: url(../fonts/RobotoFlex.ttf) format('truetype-variations');
}

/* Global */
html, body {
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

main {
  display: grid;
  grid-template-columns: repeat(4, 1fr) ;
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  position: relative;
  overflow-x: hidden;
  min-height: 85dvh;
}

footer {
  width: 100%;
  height: 15dvh;
  background-color: var(--green);
}

main div {
  position: relative;
  height: 10em;
  width: 10em;
  align-self: center;
  justify-self: center;
  background-color: var(--red);
  border-radius: 2em;
}

main div:nth-child(1) {
  background:
  radial-gradient(
    at 50% -20%,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0.3) 40%,
    transparent 40%
  ),
  repeating-linear-gradient(
      -45deg,
      #49AF2C 90%,
      #7AE84F 50%,
      #49AF2C,
      #7AE84F,
      #49AF2C,
      #7AE84F,
      #49AF2C,
      #7AE84F
    );
  background-size:
    350% 100%,
    cover;
  background-position: center;

  box-shadow:
    inset .5em .5em 1em #fff6,
    inset -.5em -.5em 1em #7AE84F;
}

main div:nth-child(1):before {
  position: absolute;
  content: '🕽';
  filter: invert(1);
  top: .90em;
  left: 0;
  right: 0;
  font-size: 5em;
  transform: rotate(90deg);
}

main div:nth-child(2) {
  position: relative;
  background-image:
    radial-gradient(
      at 60% 70%,
        rgba(255, 255, 255, 0.687) 2%,
        rgba(255, 255, 255, 0.301) 20%,
        transparent 0
      ),

    repeating-radial-gradient(
      rgb(98,120,148) 0%,
      rgb(78,104,131) 10%,
      rgb(47, 63, 81) 12%,
      rgb(52,67,82) 13%,
      transparent 14%,
      transparent 16%,
      transparent 18%,
      transparent 19%,
      transparent 21%,
      rgb(47, 63, 81) 23%,
      rgb(78,104,131) 25%,
      rgb(52,67,82) 26%,
      rgb(44,61,77) 27%
    ),

    conic-gradient(
      from -5deg,
      transparent 0%,
      transparent 79%,
      rgba(255, 255, 255, 0.550) 20%
    ),

    repeating-radial-gradient(
      rgb(98,120,148) 0%,
      rgb(78,104,131) 10%,
      rgb(47, 63, 81) 12%,
      rgb(52,67,82) 13%,
      rgb(98,120,148) 14%,
      rgb(44,61,77) 16%,
      rgb(31,49,63) 18%,
      rgb(31,49,63) 19%,
      rgb(78,104,131) 21%,
      rgb(47, 63, 81) 23%,
      rgb(78,104,131) 25%,
      rgb(52,67,82) 26%,
      rgb(44,61,77) 27%
    )
  ;
  box-shadow:
    0em .5em .5em 0em rgb(0, 0, 0);
}

main div:nth-child(2):before {
  position: absolute;
  content: '';
  inset: 0;
  border-radius: inherit;
  background-image:
  radial-gradient(
    transparent 2.6em,
    hsl(0, 0%, 16%) 20%
  ),
  conic-gradient(
    from -100deg,
    hsl(0, 0%, 0%),
    hsl(0, 0%, 40%),
    hsl(0, 0%, 0%),
    hsl(240, 0%, 23%),
    hsl(0, 0%, 0%)
  )
  ;
  -webkit-mask:
		radial-gradient(
			transparent 2em,
			rgba(255, 255, 255, 1) 0
	);
}

main div:nth-child(2):after {
  position: absolute;
  content: '';
  border-radius:inherit;
  inset:0;
	background-image:
		linear-gradient(
			hsl(0, 0%, 93%),
			hsl(0, 0%, 53%)
		);
	
	-webkit-mask:
		radial-gradient(
			transparent 3.2em,
			hsl(0, 100%, 50%) 0
		);
}