/* Resets */
*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --red: hsl(0, 98%, 31%);
  --night: hsl(218, 100%, 25%);
  --night2: hsl(214, 100%, 8%);
  --day: hsl(200, 100%, 67%);
  --day2: hsl(200, 92%, 43%);
  --green: hsl(118, 85%, 25%);
  --night-grass: hsl(118, 92%, 19%);
  --orange: hsl(41, 100%, 74%);
  --star: hsl(61, 83%, 48%);
  --wood: hsl(29, 100%, 20%);
  --dark-wood: hsl(31, 100%, 13%);
}

/* Fonts */
@font-face {
  font-family: roboto-flex;
  src: url(../fonts/RobotoFlex.ttf) format('truetype-variations');
}

/* Global */
html, body {
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

main {
  display: grid;
  grid-template-columns: repeat(4, 1fr) ;
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  position: relative;
  overflow-x: hidden;
  min-height: 85dvh;
}

footer {
  width: 100%;
  height: 15dvh;
  background-color: var(--green);
}

main div {
  position: relative;
  height: 10em;
  width: 10em;
  align-self: center;
  justify-self: center;
  background-color: var(--red);
  border-radius: 2em;
}

main div:before,
main div:after {
  content: '';
}

main div:nth-child(1) {
  background:
  radial-gradient(
    at 50% -20%,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0.3) 40%,
    transparent 40%
  ),
  repeating-linear-gradient(
      -45deg,
      #49AF2C 90%,
      #7AE84F 50%,
      #49AF2C,
      #7AE84F,
      #49AF2C,
      #7AE84F,
      #49AF2C,
      #7AE84F
    );
  background-size:
    350% 100%,
    cover;
  background-position: center;

  box-shadow:
    inset .5em .5em 1em #fff6,
    inset -.5em -.5em 1em #7AE84F;
}

main div:nth-child(1):before {
  position: absolute;
  content: '🕽';
  filter: invert(1);
  top: .90em;
  left: 0;
  right: 0;
  font-size: 5em;
  transform: rotate(90deg);
}

main div:nth-child(2) {
  position: relative;
  rotate: -45deg;
  border-radius: 50%;
  background-image:
    radial-gradient(
        rgba(255, 255, 255, 0.687) 10%,
        rgba(255, 255, 255, 0.578) 13%,
        transparent 25%
      ),
      
    radial-gradient(
        rgba(255, 255, 255, 0.687) 5%,
        rgba(255, 255, 255, 0.578) 10%,
        transparent 25%
      ),

    radial-gradient(
        rgba(255, 255, 255, 0.687) 5%,
        rgba(255, 255, 255, 0.578) 10%,
        transparent 25%
      ),

    radial-gradient(
        rgba(255, 255, 255, 0.687) 5%,
        rgba(255, 255, 255, 0.578) 12%,
        transparent 25%
      ),

    radial-gradient(
        rgba(255, 255, 255, 0.687) 5%,
        rgba(255, 255, 255, 0.578) 15%,
        transparent 25%
      ),

    radial-gradient(
        rgba(255, 255, 255, 0.687) 5%,
        rgba(255, 255, 255, 0.578) 20%,
        transparent 25%
      ),

    radial-gradient(
      at 50% 72%,
        rgba(255, 255, 255, 0.687) 10%,
        rgba(255, 255, 255, 0.301) 20%,
        transparent 0
      ),

    repeating-radial-gradient(
      rgb(98,120,148) 0%,
      rgb(78,104,131) 10%,
      rgb(47, 63, 81) 12%,
      rgb(52,67,82) 13%,
      rgb(98,120,148) 14%,
      transparent 14%,
      transparent 18%,
      transparent 19%,
      transparent 23%,
      rgb(47, 63, 81) 23%,
      rgb(78,104,131) 25%,
      rgb(52,67,82) 26%,
      rgb(44,61,77) 27%
    ),

    conic-gradient(
      from 35deg,
      transparent 0%,
      transparent 80%,
      rgba(255, 255, 255, 0.550) 20%
    ),

    repeating-radial-gradient(
      rgb(98,120,148) 0%,
      rgb(78,104,131) 10%,
      rgb(47, 63, 81) 12%,
      rgb(52,67,82) 13%,
      rgb(98,120,148) 14%,
      rgb(44,61,77) 16%,
      rgb(31,49,63) 18%,
      rgb(31,49,63) 19%,
      rgb(78,104,131) 21%,
      rgb(47, 63, 81) 23%,
      rgb(78,104,131) 25%,
      rgb(52,67,82) 26%,
      rgb(44,61,77) 27%
    )
  ;
  background-size:
    17% 12%,
    5% 4%,
    3% 2%,
    5% 3%,
    7% 5%,
    18% 13%,
    100% 70%,
    100% 100%,
    100% 100%,
    cover
  ;
  background-position: 
    50% 36%,
    50% 44%,
    50% 47.5%,
    50% 55.5%,
    50% 58.3%,
    50% 67%,
    60% 60%,
    100% 100%,
    100% 100%,
    100% 100%
  ;
  background-repeat: no-repeat;
}

main div:nth-child(2):before {
  position: absolute;
  inset: 0;
  border-radius: inherit;
  background-image:
  radial-gradient(
    transparent 2.6em,
    hsl(0, 0%, 16%) 20%
  ),
  conic-gradient(
    from -100deg,
    hsl(0, 0%, 0%),
    hsl(0, 0%, 40%),
    hsl(0, 0%, 0%),
    hsl(240, 0%, 23%),
    hsl(0, 0%, 0%)
  )
  ;
  -webkit-mask:
		radial-gradient(
			transparent 2em,
			rgba(255, 255, 255, 1) 0
	);
}

main div:nth-child(2):after {
  position: absolute;
  rotate: 45deg;
  border-radius: 2em;
  inset:0;
	background-image:
		linear-gradient(
			hsl(0, 0%, 93%),
			hsl(0, 0%, 53%)
		);
	
	-webkit-mask:
		radial-gradient(
			transparent 3.2em,
			hsl(0, 100%, 50%) 0%
		);

  box-shadow:
    0em .5em .5em 0em rgb(0, 0, 0);
}


main div:nth-child(3) {
  overflow: hidden;
  background-image:
  repeating-radial-gradient(
    rgb(211, 211, 211) 10%,
    rgb(149, 149, 149) 20%
  );
}

main div:nth-child(3):before {
  position: absolute;
  content: '🌎';
  font-size: 8em;
  top: 0;
  left: .13em;
  border-radius: inherit;
  /* -webkit-mask:
		radial-gradient(
			transparent 3.4em,
			rgba(255, 255, 255, 1) 0
	); */
}

main div:nth-child(3):after {
  position: absolute;
  border-radius: inherit;
  inset: 0;
  background-image:
		linear-gradient(
    hsl(0, 0%, 79%),
    hsl(0, 0%, 96%)
    );
    -webkit-mask:
		radial-gradient(
			transparent 4.5em,
			blue 0%
		);
}